<div class="mt-64 max-w-xl container lg:justify-between">
    <small class="text-neutral-600">Copyright © {{settings.name}} 2022. 
        <a href="https://github.com/surjithctly/neat-starter" class="underline" target="_blank" rel="noopener">Twitter</a>
        •
        <a href="https://github.com/surjithctly/neat-starter" class="underline" target="_blank" rel="noopener">Are.na</a>
        •
        <a href="https://github.com/surjithctly/neat-starter" class="underline" target="_blank" rel="noopener">Instagram</a>
    </small>
</div>
