<div class="flex justify-center mt-16 mb-24 mx-4 sm:mx-8 z-10">

    <section>

        <div class="text-lg">
            <img src="/static/img/dulprof.png" alt="Dul profile image" class="w-12 h-12">
            <div class="w-fit backdrop-blur-md bg-white/5 border border-neutral-100/5 text-white/80 p-4 rounded-3xl rounded-bl-lg tracking-normal leading-snug mb-2">
                <p class="">Hi, Im Dul 👋</p>
            </div>
            <div class="w-fit max-w-md backdrop-blur-md bg-white/5 border border-neutral-100/5 text-white/80 p-4 rounded-3xl rounded-tl-lg rounded-bl-lg tracking-normal leading-snug mb-2">
                <p>A digital product designer currently based in Ulaanbaatar, Mongolia</p>
            </div>
            <div class="max-w-md backdrop-blur-md bg-white/5 border border-neutral-100/5 text-white/80 p-4 rounded-3xl rounded-tl-lg rounded-bl-lg tracking-normal leading-snug mb-2">
                <p>I design user interfaces and design systems to create enjoyable experiences for end-users, engineers and design teams</p>
            </div>
            <div class="max-w-md backdrop-blur-md bg-white/5 border border-neutral-100/5 text-white/80 p-4 rounded-3xl rounded-bl rounded-tl-lg tracking-normal leading-snug">
                <p class="">Below are some of the projects I've worked on and everyday thoughts.</p>
            </div>
        </div>

        <div class="h-px max-w-md bg-white/10 my-8"></div>

        <div class="text-white text-lg font-medium tracking-normal mb-4">
            <h2>
                Work & thoughts
            </h2>
        </div>

            {% set postslist = collections.post %}
    
            {% for post in postslist | reverse %}
            <a href="{{ post.url | url }}">
                
                <article class="mb-4 backdrop-blur-md bg-white/5 border border-neutral-100/5 max-w-md rounded-3xl">
                        <img src="{{ post.data.featuredImage }}" alt="featured image" class="rounded-tr-3xl rounded-tl-3xl w-full">
                        <div class="px-4 pb-6 pt-2">
                            <h2 class="text-lg text-white flex mt-3">
                                {% if post.data.title %}
                                    {{ post.data.title }}
                                {% else %}
                                    Untitled
                                {% endif %}
                            </h2>
                            {% if post.data.description %}
                                <p class="text-lg text-white/80">
                                    {{ post.data.description }}
                                </p>
                            {% endif %}
                            <p class="text-sm font-mono text-white/50 mt-1">
                                <time>
                                    {{ post.date | readableDate }}
                                </time>
                                    <!-- {{ post.data.tags }} -->
                            </p>
                        </div>        
                </article>

            </a>
            {% endfor %}
            

    </section>

</div>