<div class="w-full max-w-xl my-8 lg:mx-0">

    <section class="mt-64 mb-8">
        {% set postslist = collections.post %}
    
        {% for post in postslist | reverse %}
            <article class="my-8">

                <h2 class="text-base text-gray-900 mb-2">
                    <a href="{{ post.url | url }}">
                        {% if post.data.title %}
                            {{ post.data.title }}
                        {% else %}
                            Untitled
                        {% endif %}
                    </a>
                </h2>

                {% if post.data.description %}
                    <p class="text-base text-gray-500 mb-3">
                        {{ post.data.description }}
                    </p>
                {% endif %}

                <p class="text-base leading-6 text-gray-500 mb-3">
                    <time>
                        {{ post.date | readableDate }}
                    </time>
                </p>
    
                <p>
                    <a href="{{ post.url | url }}" class="text-indigo-500 text-base">
                        Read more →
                    </a>
                </p>
    
            </article>
        {% endfor %}
    </section>

</div>