<div class="max-w-xl mt-24 mb-16 mx-4 sm:mx-8">

    <section>
        
        <div class="text-neutral-500 space-y-4 tracking-normal border-b border-neutral-800 pb-8">
            <img src="/static/img/dul-website-profile.png" alt="dul">
            <p>
                I’m Dul. A product designer and professional web surfer currently based in Ulaanbaatar, Mongolia. I simplify complex processes and make people happy through visual design and thoughtful product experiences.
            </p>
            <div class="flex flex-wrap mt-6 text-sm">
                <a href="https://twitter.com/dulzorigoo" class="bg-neutral-800 hover:bg-neutral-700 duration-300 flex justify-center px-2 py-2 mr-2 rounded-full">Twitter</a>
                <a href="https://www.are.na/dul-zorigoo-ktr52ajkd6g" class="bg-neutral-800 hover:bg-neutral-700 duration-300 flex justify-center px-4 py-2 mr-2 rounded-full">Are.na</a>
                <a href="https://www.polywork.com/dulz" class="bg-neutral-800 hover:bg-blue-600 duration-300 flex justify-center px-4 py-2 mr-2 rounded-full">Polywork</a>
                <a href="#" class="bg-neutral-800 hover:bg-blue-600 duration-300 flex justify-center p-2 mr-2 rounded-md border border-neutral-700">Resume</a>
            </div>
        </div>

        <div class="text-neutral-50 text-2xl mt-8 font-light tracking-normal">
            <h2>
                Writing
            </h2>
        </div>

        {% set postslist = collections.post %}
    
        {% for post in postslist | reverse %}

            <article class="my-4">
                    <h2 class="text-base text-neutral-50 mb-2 flex space-x-4">
                        <a href="{{ post.url | url }}">
                            {% if post.data.title %}
                                {{ post.data.title }}
                            {% else %}
                                Untitled
                            {% endif %}
                        </a>
                        <p class="font-mono text-sm leading-6 text-neutral-700">
                            <time>
                                {{ post.date | readableDate }}
                            </time>
                        </p>
                    </h2>
                    {% if post.data.description %}
                        <p class="text-base text-neutral-500 mb-3">
                            {{ post.data.description }}
                        </p>
                    {% endif %}
            </article>
        {% endfor %}
    </section>

</div>