<div class="flex justify-center mt-16 mb-32 mx-4 sm:mx-8 z-10">

    <section>

        <div class="text-lg">
            <div class="w-fit backdrop-blur-md bg-neutral-200/30 border border-neutral-600/5 text-neutral-900 p-4 rounded-2xl rounded-bl tracking-normal mb-2">
                <p class="">hi! 👋</p>
            </div>
            <div class="w-fit max-w-md backdrop-blur-md bg-neutral-200/30 border border-neutral-600/5 text-neutral-900 p-4 rounded-2xl rounded-bl tracking-normal mb-2">
                <p>How's everything going?</p>
            </div>
            <div class="w-fit max-w-md backdrop-blur-md bg-neutral-200/30 border border-neutral-600/5 text-neutral-900 p-4 rounded-2xl rounded-bl tracking-normal mb-2">
                <p>I’m Dul, a digital product designer currently based in Ulaanbaatar, Mongolia.</p>
            </div>
            <div class="max-w-md backdrop-blur-md bg-neutral-200/30 border border-neutral-600/5 text-neutral-900 p-4 rounded-2xl rounded-bl tracking-normal mb-2">
                <p>I specialize in detailed user interfaces and design systems, to create enjoyable experiences for end-users and design teams.</p>
            </div>
            <div class="w-fit backdrop-blur-md bg-neutral-200/30 border border-neutral-600/5 text-neutral-900 p-4 rounded-2xl rounded-bl tracking-normal mb-8">
                <p class="">Here is some of my work</p>
            </div>
        </div>

        <div class="text-neutral-900 text-lg font-medium tracking-normal mb-4">
            <h2>
                Work
            </h2>
            
        </div>

            {% set postslist = collections.post %}
    
            {% for post in postslist | reverse %}
            <a href="{{ post.url | url }}">
                
                <article class="mb-2 backdrop-blur-md bg-neutral-200/30 border border-neutral-600/5 max-w-md p-4 rounded-3xl rounded-bl">
                        <img src="{{ post.data.featuredImage }}" alt="featured image" class="rounded-2xl w-full">
                        <h2 class="text-lg text-neutral-900 font-medium flex space-x-4 mt-3">
                            {% if post.data.title %}
                                {{ post.data.title }}
                            {% else %}
                                Untitled
                            {% endif %}
                        </h2>
                        {% if post.data.description %}
                            <p class="text-lg text-neutral-700">
                                {{ post.data.description }}
                            </p>
                        {% endif %}
                        <p class="text-lg font-normal text-neutral-400">
                            <time>
                                {{ post.date | readableDate }}
                            </time>
                        </p>        
                </article>

            </a>
            {% endfor %}
            

    </section>

</div>