<div class="max-w-xl mt-32 mb-16 mx-8">

    <section>
        {% set postslist = collections.post %}
    
        {% for post in postslist | reverse %}

            <article class="my-8">
                    <h2 class="text-base text-neutral-50 mb-2 flex space-x-4">
                        <a href="{{ post.url | url }}">
                            {% if post.data.title %}
                                {{ post.data.title }}
                            {% else %}
                                Untitled
                            {% endif %}
                        </a>
                        <p class="text-base leading-6 text-neutral-700">
                            <time>
                                {{ post.date | readableDate }}
                            </time>
                        </p>
                    </h2>
                    {% if post.data.description %}
                        <p class="text-base text-neutral-600 mb-3">
                            {{ post.data.description }}
                        </p>
                    {% endif %}
            </article>
        {% endfor %}
    </section>

</div>