<div class="max-w-xl mt-24 mb-16 mx-4 sm:mx-8">

    <section>

        <div class="bg-neutral-900">
            <p>Hello</p>
          </div>

        <div class="text-neutral-50 text-base font-light tracking-normal font-mono">
            <h2>
                Writing
            </h2>
        </div>

        {% set postslist = collections.post %}
    
        {% for post in postslist | reverse %}

            <article class="my-8">
                    <h2 class="text-sm text-neutral-50 mb-2 flex space-x-4 font-mono">
                        <a href="{{ post.url | url }}">
                            {% if post.data.title %}
                                {{ post.data.title }}
                            {% else %}
                                Untitled
                            {% endif %}
                        </a>
                        <p class="font-mono text-sm leading-6 text-neutral-700">
                            <time>
                                {{ post.date | readableDate }}
                            </time>
                        </p>
                    </h2>
                    {% if post.data.description %}
                        <p class="text-sm text-neutral-500 mb-3 font-mono">
                            {{ post.data.description }}
                        </p>
                    {% endif %}
            </article>
        {% endfor %}
    </section>

</div>