<footer class="text-center w-full pb-4">
    <small class="text-neutral-600">Copyright © {{settings.name}} 2022. 
        <a href="https://twitter.com/dulzorigoo" class="underline" target="_blank" rel="noopener">Twitter</a>
        •
        <a href="https://www.are.na/dul-zorigoo-ktr52ajkd6g" class="underline" target="_blank" rel="noopener">Are.na</a>
        •
        <a href="https://www.instagram.com/dulzorigo/" class="underline" target="_blank" rel="noopener">Instagram</a>
    </small>
</footer>
