<footer class="bottom-0 text-center w-full mt-16">
    <small class="text-gray-500">Copyright © {{settings.name}} 2022. 
        <a href="https://github.com/surjithctly/neat-starter" class="underline" target="_blank" rel="noopener">Twitter</a>
        •
        <a href="https://github.com/surjithctly/neat-starter" class="underline" target="_blank" rel="noopener">Are.na</a>
        •
        <a href="https://github.com/surjithctly/neat-starter" class="underline" target="_blank" rel="noopener">Instagram</a>
    </small>
</footer>
