<div class="{{ 'fixed' if path == 'home' }} w-full backdrop-blur-md bg-black/10 border-b border-neutral-800">
    <nav class="max-w-xl flex justify-between p-4 sm:px-0 container mx-auto font-mono">
        <!--Logo etc-->
            <a href="/" class="text-neutral-50 text-sm">
                Dul Zorigoo
            </a>

        <!--Menu-->
        <div class="">

            {% if navigation.items %}

                <ul class="flex justify-end">
                    {% for item in navigation.items %}
                        <li class="nav__item">
                            <a @click="isOpen = false" class="text-sm inline-block text-neutral-600 no-underline hover:text-neutral-50 px-4" href="{{ item.url }}">{{ item.text }}</a>
                        </li>
                    {% endfor %}
                </ul>

            {% endif %}
        </div>
    </nav>
</div>
