<div class="fixed bottom-0 left-0 right-0 flex text-center mb-8 mx-4 z-20">
    <nav class="w-full max-w-4xl flex justify-between items-center px-6 py-4 rounded-full border mx-auto bg-white border-neutral-200 drop-shadow-[0_35px_35px_rgba(0,0,0,0.10)]">
        
        <!--Logo etc-->
            <a href="/" class="text-neutral-900 text-lg">
                Dul Zorigoo
            </a>

        <!--Menu-->
        <div class="">

            {% if navigation.items %}

                <ul class="flex">
                    {% for item in navigation.items %}
                        <li class="nav__item">
                            <a @click="isOpen = false" class="text-lg inline-block text-neutral-900 hover:text-neutral-900 pl-6" href="{{ item.url }}">{{ item.text }}</a>
                        </li>
                    {% endfor %}
                </ul>

            {% endif %}
        </div>
    </nav>
</div>
