<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FSYZ8KLZYK"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-FSYZ8KLZYK');
    </script>
    
    <title>
      {{title}}
    </title>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    {% if prism == true %}
      <link rel="stylesheet" type="text/css" href="/static/css/prism-tomorrow.css">
    {% endif %}
  </head>
  <body class="bg-gradient-to-t from-[#161B1F] to-[#0B0C0D]">

    {% include "./partials/navbar.html" %}

    <div class="z-10">
      {{ content | safe }}
    </div>

    <div class="flex justify-center text-center text-white/40 max-w-md text-sm font-light">
      <p class="max-w-md">Dul Zorigoo 2022. This website runs on <a href="https://www.11ty.dev" class="underline decoration-dashed">Eleventy</a>, a static site generator. Hosted and deployed via <a href="https://vercel.com" class="underline decoration-dashed">Vercel</a>. You can also find me on <a href="https://twitter.com/dulzorigoo" class="underline decoration-dashed">Twitter</a>, <a href="https://www.instagram.com/dulzorigo/" class="underline decoration-dashed">Instagram</a> and <a href="https://www.are.na/dul-zorigoo-ktr52ajkd6g" class="underline decoration-dashed">Are.na</a>.
      </p>
  </div>
    
    <!-- {% include "./partials/footer.html" %} -->

    <script src="/static/js/alpine.js"></script>

  </body>
</html>