---
layout: journal
---

    <div class="container mx-auto justify-center mb-32 mt-16 px-4 sm:px-0 z-10">
        <article class="text-lg text-left mx-auto text-white/70">

            <!-- Title section -->
            <div class="mx-auto max-w-lg sm:mt-32 mb-8 sm:mb-16">
                <h1 class="text-left text-4xl font-semibold text-white tracking-normal">{{title}}</h1>
                <p class="text-sm font-mono text-white/50">
                    <time>
                        
                        {{ date | readableDate }}
        
                    </time>
                </p>
            </div>

            <div class="flex w-full justify-center mb-8 sm:mb-32">
                <img src="{{ featuredImage | url }}" alt="featured image" class="rounded-xl w-full max-w-5xl">
            </div>

            <!-- Content -->
            {{ content | safe }}
            
        </article>

        <div class="flex justify-center w-full text-center text-white/40 max-w-md text-sm font-light">
            <p>Dul Zorigoo 2022. This website runs on <a href="https://www.11ty.dev" class="underline decoration-dashed">Eleventy</a>, a static site generator. Hosted and deployed via <a href="https://vercel.com" class="underline decoration-dashed">Vercel</a>. You can also find me on <a href="https://twitter.com/dulzorigoo" class="underline decoration-dashed">Twitter</a>, <a href="https://www.instagram.com/dulzorigo/" class="underline decoration-dashed">Instagram</a> and <a href="https://www.are.na/dul-zorigoo-ktr52ajkd6g" class="underline decoration-dashed">Are.na</a>.
            </p>
        </div>
    </div>