---
layout: default
---

<div class="z-50 max-w-md container mx-auto mb-16 px-4 sm:px-0 pt-24">
    <div class="pb-8 mb-8 border-neutral-800 z-10">
        <h1 class="text-left text-lg text-neutral-900">{{title}}</h1>
        <p class="text-neutral-900">
            <time>
                
                {{ date | readableDate }}

            </time>
        </p>

    </div>
    <article class="text-lg text-left my-4 mx-auto text-neutral-900">
        {{ content | safe }}
    </article>

</div>